* {
	--screen-height: 80vh;
	--profile-botton-border-width: 2px;
	--profile-height: calc(70px + var(--profile-botton-border-width) + 2px);
	--profile-bg-color: #E5E5E5;
	
	--contact-list-height: calc(var(--screen-height) - var(--profile-height));
	--contact-card-height: 60px;
	
	--chat-area-height: 50px;
	
	--ca-red: #E71D36;
	--ca-orage: #FF9F1C;
	--ca-sea-green: #2EC4B6;
	--ca-pink: #F4EDED;
	--ca-white: #FDFFFC;
	--ca-dark: #011627;
}

body {
	/*background: var(--bs-dark);*/
	background: var(--ca-dark);
	margin: 0px;
	padding: 0px;
}

#logoutBtn {
	position: absolute;
	top: 0;
	right: 0;
	margin: 10px;
}

#chatApp {
	padding: 0;
	display: inline-block;
	margin-top: 10vh;
	margin-left: 10vw;
	width: 80vw;
	height: 80vh;
	min-width: 800px;
	min-height: 500px;
}

#contactList {
	width: 30%;
	float: left;
	user-select: none;
}

#profile {
	height: var(--profile-height);
	position: relative;
	border-style: solid;
	border-width: 0;
	border-bottom-width: var(--profile-botton-border-width);
	background-color: var(--profile-bg-color);
}

#profileImage {
	--profile-image-margin: 1px;
	--profile-image-border: 2px;
	float: left;
	height: calc(var(--profile-height) - 2 * var(--profile-image-margin) - var(--profile-image-border));
	background: var(--bs-light);
	margin: var(--profile-image-margin);
	padding: 2px;
	border-radius: 100%;
	border-style: solid;
	border-color: black;
	border-width: var(--profile-image-border);
}

#profileName {
	float: left;
	padding-left: 0.5rem;
	padding-top: 0.25rem;
	cursor: default;
}

#addContactBtn {
	cursor: pointer;
	position: absolute;
	object-position: right top;
	right: 0;
	margin: 0.25rem;
	padding: 0;
	height: calc(var(--profile-height) - 0.5rem);
	animation: fadeOutClick 0.25s;
	border-radius: 1rem;
}

#addContactBtn:focus, #addContactBtn:active {
	background-color: var(--bs-secondary);
	animation: fadeInClick 0.25s;
}

@keyframes fadeInClick {
	0% {
		background-color: var(--profile-bg-color);
	}
	100% {
		background-color: var(--bs-secondary);
	}
}

@keyframes fadeOutClick {
	0% {
		background-color: var(--bs-secondary);
	}
	100% {
		background-color: var(--profile-bg-color);
	}
}

#contacts {
	height: var(--contact-list-height);
	clear: both;
}

.contactCard {
	height: var(--contact-card-height);
	clear: both;
	position: relative;
	cursor: pointer;
}

.contactProfilePic {
	--top-margin: 0.25rem;
	float: left;
	height: calc(var(--contact-card-height) - 2 * var(--top-margin));
	background: var(--bs-light);
	margin-top: var(--top-margin);
	margin-left: 0.5rem;
	padding: 0.1rem;
	border-radius: 100%;
	border-style: solid;
	border-color: black;
	border-width: 1px;
}

.contactProfileName {
	float: left;
	padding-left: 0.5rem;
	padding-top: 0.25rem;
}

.lastContactedText {
	position: absolute;
	bottom: 0;
	right: 0.5rem;
}

.contactCard.selected {
	background-color: var(--profile-bg-color);
}

#chatBox {
	width: 70%;
	float: left;
	height: var(--screen-height);
	border: solid;
	border-width: 0;
	border-left-width: 1px;
}

#chatTitle {
	height: var(--profile-height);
	background: var(--profile-bg-color);
	border-style: solid;
	border-width: 0;
	border-bottom-width: var(--profile-botton-border-width);
	border-color: black;
	user-select: none;
}

#chatProfileImg {
	--chat-profile-img-margin: 0.2rem;
	height: calc(var(--profile-height) - 2 * var(--chat-profile-img-margin) - var(--profile-botton-border-width));
	border-radius: 1rem;
	margin-left: 0.2rem;
	margin-top: var(--chat-profile-img-margin);
	float: left;
}

#chatProfileTitle {
	margin-left: 0.5rem;
	font-size: 18pt;
	font-weight: bold;
	cursor: default;
}

#chatProfileStatus {
	margin-left: 0.5rem;
	font-size: 12pt;
	cursor: default;
}

#chatArea {
	height: calc(var(--screen-height) - var(--profile-height) - var(--chat-area-height));
	background-color: var(--ca-pink);
}

#chatField {
	height: var(--chat-area-height);
	background-color: var(--bg-light);
	padding: 0.5rem;
	display: flex;
}

#chatFieldText {
	width: 52rem;
	height: 100%;
	flex-grow: 100;
}

#chatFieldBtn {
	margin-left: 0.5rem;
}

.right-speech-bubble {
	position: relative;
	background: #5ebd00;
	border-radius: .4em;
	width:auto;
	height:auto;
	float: right;
	top: 80%;
	margin-right: 10px;
	padding: 5px;
}

.right-speech-bubble:after {
	content: '';
	position: absolute;
	right: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 10px solid transparent;
	border-left-color:  #5ebd00;
	border-right: 0;
	border-bottom: 0;
	margin-top: -5px;
	margin-right: -9px;
}

.left-speech-bubble {
	position: relative;
	background: #5ebd00;
	border-radius: .4em;
	width:auto;
	height:auto;
	float: left;
	top: 70%;
	margin-right: 10px;
	padding: 5px;
}

.left-speech-bubble:after {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 10px solid transparent;
	border-right-color:  #5ebd00;
	border-left: 0;
	border-bottom: 0;
	margin-top: -5px;
	margin-left: -9px;
}