
body {
	background: var(--bs-dark);
	--window-height: 80vh;
	--window-width: 80vw;
}

#wrapper {
	height: 100vh;
}

#chat-screen {
	max-width: var(--window-width);
	margin: auto;
	height: var(--window-height);
}

#contact-list {
	height: var(--window-height);
}

#contacts {
	max-height: 90%;
	margin: 0px 0px;
	padding: 0px 0px;
}

#selected-chat {
	background: var(--bs-secondary);
	color: var(--bs-light);
}

#chat-title-img {
	height: 50px;
}
