* {
	--screen-height: 80vh;
	--profile-botton-border-width: 2px;
	--profile-height: calc(70px + var(--profile-botton-border-width) + 2px);
	--profile-bg-color: #E5E5E5;
	
	--contact-list-height: calc(var(--screen-height) - var(--profile-height));
	--contact-card-height: 60px;
	
	--chat-area-height: 50px;
}

body {
	background: var(--bs-dark);
	margin: 0px;
	padding: 0px;
}

#logout-btn {
	position: absolute;
	top: 0;
	right: 0;
	margin: 10px;
}

#chat-app {
	margin: 0;
	padding: 10vh 30vh;
	height: 100%;
	max-height: 80vh;
	min-height: 400px;
}

#contact-list {
	width: 30%;
	float: left;
}

#profile {
	height: var(--profile-height);
	position: relative;
	border-style: solid;
	border-width: 0;
	border-bottom-width: var(--profile-botton-border-width);
	background-color: var(--profile-bg-color);
}

#profile-image {
	--profile-image-margin: 1px;
	--profile-image-border: 2px;
	float: left;
	height: calc(var(--profile-height) - 2 * var(--profile-image-margin) - var(--profile-image-border));
	background: var(--bs-light);
	margin: var(--profile-image-margin);
	padding: 2px;
	border-radius: 100%;
	border-style: solid;
	border-color: black;
	border-width: var(--profile-image-border);
}

#profile-name {
	float: left;
	padding-left: 0.5rem;
	padding-top: 0.25rem;
}

#add-contact-btn {
	cursor: pointer;
	position: absolute;
	object-position: right top;
	right: 0;
	margin: 0.25rem;
	padding: 0;
	height: calc(var(--profile-height) - 5px);
	animation: fadeOutClick 0.25s;
	border-radius: 1rem;
}

#add-contact-btn:focus, #add-contact-btn:active {
	background-color: var(--bs-secondary);
	animation: fadeInClick 0.25s;
}

@keyframes fadeInClick {
	0% {
		background-color: var(--profile-bg-color);
	}
	100% {
		background-color: var(--bs-secondary);
	}
}

@keyframes fadeOutClick {
	0% {
		background-color: var(--bs-secondary);
	}
	100% {
		background-color: var(--profile-bg-color);
	}
}

#contacts {
	height: var(--contact-list-height);
	clear: both;
}

.contact-card {
	height: var(--contact-card-height);
	clear: both;
	position: relative;
	cursor: pointer;
}

.contact-profile-pic {
	--top-margin: 0.25rem;
	float: left;
	height: calc(var(--contact-card-height) - 2 * var(--top-margin));
	background: var(--bs-light);
	margin-top: var(--top-margin);
	margin-left: 0.5rem;
	padding: 0.1rem;
	border-radius: 100%;
	border-style: solid;
	border-color: black;
	border-width: 1px;
}

.contact-profile-name {
	float: left;
	padding-left: 0.5rem;
	padding-top: 0.25rem;
}

.last-contacted-text {
	position: absolute;
	bottom: 0;
	right: 0.5rem;
}

.contact-card.selected {
	background-color: var(--profile-bg-color);
}

#chat-box {
	width: 70%;
	float: left;
	height: var(--screen-height);
	border: solid;
	border-width: 0;
	border-left-width: 1px;
}

#chat-title {
	height: var(--profile-height);
	background: var(--profile-bg-color);
	border-style: solid;
	border-width: 0;
	border-bottom-width: var(--profile-botton-border-width);
	border-color: black;
}

#chat-profile-img {
	--chat-profile-img-margin: 0.2rem;
	height: calc(var(--profile-height) - 2 * var(--chat-profile-img-margin) - var(--profile-botton-border-width));
	border-radius: 1rem;
	margin-left: 0.2rem;
	margin-top: var(--chat-profile-img-margin);
	float: left;
}

#chat-profile-title {
	margin-left: 0.5rem;
	font-size: 18pt;
	font-weight: bold;
}

#chat-profile-status {
	margin-left: 0.5rem;
	font-size: 12pt;
}

#chat-area {
	height: calc(var(--screen-height) - var(--profile-height) - var(--chat-area-height));
	background-color: #F4EDED;
}

#chat-field {
	height: var(--chat-area-height);
	background-color: var(--bg-light);
	padding: 0.5rem;
}

#chat-field-text {
	width: 90%;
	height: 100%;
}

#chat-field-btn {
	width: 9.5%;
	margin-bottom: 0.25rem;
}
