body {
    background-color: #22547D;;
}

.pane {
    display: flex;
    padding: 0.5rem;
    background-color: white;
    flex-direction: column;
    max-width: 1000px;
    margin: 2.5rem auto;
}

.dataEntry {
    display: flex;
    flex-direction: row;
    margin-bottom: 0.25rem;
}

.authentication-row {
    padding: 5px;
}