
.speechBubble {
	width: fit-content;
	max-width: 50%;
	color: white;
	padding: 0.5rem;
	border-radius: 0.5rem;
	margin: 3px 0 3px 0;
}

.speechBubbleRight {
	margin-right: 10px;
	margin-left: auto;
	background-color: green;
	position: relative;
}

.speechBubbleLeft {
	margin-right: auto;
	margin-left: 10px;
	background-color: rgb(32, 44, 51);
}

.timestamp {
	font-size: 8pt;
	margin-left: 5px;
	user-select: none;
}
